body {
    margin-left: 200px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #474242;
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
}


h2 {
    color: white;
    text-align: center;
    margin-top: 50px;
}

#titre-noir {
    color: black;

}

h1 {
    margin-top: 5px; /* Ajoute une marge en haut pour l'espace */
    colortext-align: center;
    margin-top: 50px;: white;
    text-align: center;
    position: relative;
}

#monP::before,
#monP::after {
    content: ''; /* Contenu vide pour générer les éléments décoratifs */
    position: absolute; /* Position absolue par rapport au titre h2 */
    top: 50%; /* Aligner au milieu du titre */
    width: 60%; /* Largeur des éléments décoratifs (peut être ajustée) */
    height: 2px; /* Hauteur des éléments décoratifs (peut être ajustée) */
    background-color: white; /* Couleur des éléments décoratifs */
}

#monP::before {
    left: 0; /* Positionner à gauche du titre */
    margin-left: -25%; /* Ajustement pour que le titre ne dépasse pas les bords */
}

#monP::after {
    right: 0; /* Positionner à droite du titre */
    margin-right: -25%; /* Ajustement pour que le titre ne dépasse pas les bords */
}



ul {
    list-style: none;
    padding: 0;
}

#prof {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#prof strong {
    display: block;
    color: #666;
}

#prof p {
    margin: 10px 0;
    color: #333;
}

#prof small {
    display: block;
    text-align: right;
    color: #999;
}

#write {
    float: right;
    max-width: 50px;
    max-height: 50px;
}

.score {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.followers-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.followers-button:hover {
    background-color: #666;
}

.listes {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* partie followers */

.followers-container {
    margin: 9em;
    background-color: #fff; /* Fond de la boîte des followers */
    border-radius: 10px;
    padding: 10px;
    width: 400px;

}


.followers-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.followers-list li {
    background-color: #f5f8fa; /* Une nuance de gris similaire à Twitter */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



/* partie back button */

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #666;
}